{% extends "layout.html" %}
{% block body %}
<h2 style="font-size: 3em; color: rgba(179, 37, 37, 0.76)">Refresh the page to generate a new fortune v2</h2>
<p style="font-size: 2em;">Your lucky month : {{ yearmon }} <br> Your predicted future : {{ fortune }} <br> Double dice roll? {{ luck }} </p>
<p style="width: 1000px;"> <h3> Previous Fortunes </h3>
    {% for fortune in last5 %}
    The day was :{{ fortune.yearmon }} <br> The fortune was : {{ fortune.fortune }} <br> Their dice roll : {{ fortune.luck }}
    <br><br>
    {% endfor %}
</p>
{% endblock body %}
